{% extends "base.html" %}
{% block head %} 
<title>Poopity Scoop</title>
<script src='static/js/js/bootstrap.min.js'></script>

{% endblock %}

{% block body %} 
<h1>Health Screen Bot For Summer</h1>
<form name='theform' class="row g-3" action='/' method="POST">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">First name</label>
    <input name='first' type="text" class="form-control" id="validationDefault01">
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Last name</label>
    <input name='last' type="text" class="form-control" id="validationDefault02" disabled=true>
  </div>
  <!--
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  -->
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Email</label>
    <input name='email' type="text" class="form-control" id="validationDefault03" disabled=true>
  </div>

  <div class="col-12">

    <button id='submitbutton' class="btn btn-primary" type="submit" disabled=true>Submit form</button>
  </div>
</form>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.5/dist/bootstrap-validate.js" ></script>
<script>
  bootstrapValidate('#validationDefault01', 'required:please enter a value', function (isValid) {
   if (isValid) {
      cansubmit = true
   } else {
      cansubmit = false
   }
  document.getElementById('validationDefault02').disabled = !cansubmit;
});
  
  bootstrapValidate('#validationDefault02', 'required:please enter a value', function (isValid) {
   if (isValid) {
      cansubmit = true
   } else {
      cansubmit = false
   }
  document.getElementById('validationDefault03').disabled = !cansubmit;
});
  
  bootstrapValidate('#validationDefault03', 'required:please enter a value|email:invalid email', function (isValid) {
   if (isValid) {
      cansubmit = true
   } else {
      cansubmit = false
   }
  document.getElementById('submitbutton').disabled = !cansubmit;
});

</script>
{% endblock %}
