{% extends "base.html" %}
{% block head %} 
<title>Poopity Scoop</title>
<script src='static/js/js/bootstrap.min.js'></script>
<script>
  function check(condition) {
    var f = document.querySelectorAll('input');
    let email = f[2].value
    var cansubmit = true;
    if (email.indexOf('@') > -1 && email.indexOf('.') > -1) {
      cansubmit = true
    } else {
      cansubmit = false
    }
    for (var i = 0; i < f.length; i++) {
      if (f[i].value.length == 0) cansubmit = false;
    }


    document.getElementById('submitbutton').disabled = !cansubmit;
  }
</script>
{% endblock %}

{% block body %} 
<form name='theform' class="row g-3" action='/' method="post">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationDefault01" onKeyup='check()'>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationDefault02" onKeyup='check()'>
  </div>
  <!--
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  -->
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationDefault03" onKeyup='check()'>
  </div>
  <!--
  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">State</label>
    <select class="form-select" id="validationDefault04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="validationDefault05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationDefault05" required>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
  -->
  <div class="col-12">

    <button id='submitbutton' class="btn btn-primary" type="submit" disabled=true>Submit form</button>
  </div>
</form>

<!--
<script>
let forms = document.querySelectorAll (".needs-validation");

Array.prototype.slice.call (forms).forEach (function(form)
{
	form.addEventListener ("submit", function(event)
	{
	if (!form.checkValidity())
		{
		event.preventDefault();
		event.stopPropagation();
		}
		form.classList.add("was-validated");
	});
});
</script>
-->
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.5/dist/bootstrap-validate.js" ></script>
<script>
  bootstrapValidate('#validationDefault03', 'email:invalid email|required:please enter a value')
  bootstrapValidate('#validationDefault01', 'required:please enter a value')
  bootstrapValidate('#validationDefault02', 'required:please enter a value')

</script>
{% endblock %}
